.internship-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.internship-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .internship-stats-container > div {
    flex: 1;
  }

  .student-internship-table {
    max-width: 400px; /* Adjust as needed */
  }


h1, h2, h3 {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.justify-content-center {
    justify-content: center;
}


.student-internship-table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #002b56;
 }

.student-internship-table th,
.student-internship-table td {
    text-align: center;
}

.student-internship-table thead th {
    background-color: #002b56;
    color: #fff;
}

.student-internship-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}